// Global

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
}

ul {
  list-style: outside none;
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
  margin-bottom: 0;
}

button:focus {
  outline: none;
}

a {
  transition: all 0.15s ease-in-out;
}

// Vue v-cloak

[v-cloak] {
  display: none;
}

