// Buttons

.btn-header {
  display: inline-flex;
  align-items: center;
  height: rem(40px);
  font-size: rem(14px);
  padding: 0 rem(19px);
  color: $white;
  border-radius: rem(2px);
  background-color: transparent;
  border-color: rgba($white, 0.25);
  box-shadow: none;

  &:hover, &:active, &:focus {
    color: $white;
    background-color: rgba($white, 0.125);
  }
}

.btn-tab {
  padding: rem(20px) rem(60px);
  color: $black;
  font-weight: $font-weight-bold;
  background-color: transparent;
  border-color: $primary;

  &:hover {
    color: $white;
    background-color: $primary;
    border-color: $primary;
  }

  &.active, &:focus {
    color: $black;
    background-color: $primary;
    border-color: $primary;
  }
}

.btn-round {
  display: inline-block;
  text-align: center;
  @include size(4rem);
  line-height: 4rem;
  border-radius: 50%;

}

.btn-facebook {
  background-color: $facebook-color;
}

.btn-twitter {
  background-color: $twitter-color;
}

.btn-linkedin {
  background-color: $linkedin-color;
}

.btn-googleplus {
  background-color: $googleplus-color;
}

.btn-youtube {
  background-color: $youtube-color;
}
