// Icons

.svg-icon {
  display: inline-block;
}

.icon {
  &-lock {
    fill: $primary;
    width: rem(14px);
  }

  &-search {
    fill: $white;
    width: rem(20px);
  }

  &-toggle {
    fill: $white;
    width: rem(20px);
  }

  &-chevron {
    fill: $primary;
    height: rem(14px);
  }

  &-play {
    fill: $primary;
    width: rem(54px);
    height: rem(54px);
  }

  &-phone {
    fill: $primary;
    width: rem(32px);
  }

  &-twitter {
    fill: $white;
    height: rem(20px);
  }

  &-facebook {
    fill: $white;
    height: rem(20px);
  }

  &-linkedin {
    fill: $white;
    height: rem(20px);
  }

  &-googleplus {
    fill: $white;
    height: rem(20px);
  }

  &-youtube {
    fill: $white;
    height: rem(20px);
  }

  &-location {
    fill: $primary;
    height: rem(20px);
  }

  &-bancomat {
    fill: $black;
    height: rem(20px);
  }

  &-baby {
    fill: $black;
    height: rem(20px);
  }

  &-cafe {
    fill: $black;
    height: rem(20px);
  }

  &-hamburger {
    fill: $black;
    height: rem(20px);
  }

  &-access {
    fill: $black;
    height: rem(20px);
  }

  &-question {
    fill: $primary;
    width: rem(30px);
  }

  &-slash {
    fill: $primary;
    height: rem(40px);
  }

  &-online {
    fill: $primary;
    height: rem(40px);
  }

  &-iphone {
    fill: $primary;
    height: rem(30px);
  }

  &-folders {
    fill: $primary;
    height: rem(30px);
  }

  &-comp {
    fill: $primary;
    height: rem(30px);
  }

  &-online {
    fill: $primary;
    height: rem(60px);
  }

  &-helpdesk {
    fill: $primary;
    height: rem(60px);
  }

  &-branch {
    fill: $primary;
    height: rem(60px);
  }
}
